<div class="row text-center">
  <h2>Market Stats</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= @bname %></th>
        <th><%= @ename %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Market Cap: $<%= @bmarketcap %></td>
        <td>Market Cap: $<%= @emarketcap %></td>
      </tr>
      <tr>
        <td>24 HR Volume: $<%= @bvolume %></td>
        <td>24 HR Volume: $<%= @evolume %></td>
      </tr>
      <tr>
        <td>Price: $<%= @bprice %></td>
        <td>Price: $<%= @eprice %></td>
      </tr>
    </tbody>
  </table>
<!-- Button to refresh the page. -->
  <form>
      <input type="button" onclick="history.go(0)" value="Refetch Data">
  </form>
</div>
