<div class="row text-center">
  <h2>Market Stats</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center">CryptoCurrency</th>
        <th class="text-center"><%= @bname %></th>
        <th class="text-center"><%= @ename %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Market Cap</td>
        <td>$<%= number_with_delimiter(@bmarketcap, :delimiter => ',') %></td>
        <td>$<%= number_with_delimiter(@emarketcap, :delimiter => ',') %></td>
      </tr>
      <tr>
        <td>24-Hour Volume</td>
        <td>$<%= number_with_delimiter(@bvolume, :delimiter => ',') %></td>
        <td>$<%= number_with_delimiter(@evolume, :delimiter => ',') %></td>
      </tr>
      <tr>
        <td>Price</td>
        <% if @bchange > 0 %>
          <td><font color="#2cf400">$<%= number_with_delimiter(@bprice, :delimiter => ',') %></font></td>
        <% else %>
          <td><font color="#f40000">$<%= number_with_delimiter(@bprice, :delimiter => ',') %></font></td>
        <% end %>
        <% if @echange > 0 %>
          <td><font color="#2cf400">$<%= number_with_delimiter(@eprice, :delimiter => ',') %></font></td>
        <% else %>
          <td><font color="#f40000">$<%= number_with_delimiter(@eprice, :delimiter => ',') %></font></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<!-- Button to refresh the page. -->
<!-- Use the code below to only use JS. -->
  <!-- <form class="btn btn-block">
      <input type="button" onclick="history.go(0)" value="Refetch Data">
  </form> -->
  <p><%= link_to "Refresh Market Data", root_path, class: 'btn btn-primary btn-large' %></p>
</div>
