<%= form_for Post.new do |p| %>

  <div class="form-group">
    <%= p.label :content %>
    <%= p.text_field :content, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= p.label :quantity %>
    <%= p.text_field :quantity, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= p.label :price %>
    <%= p.text_field :price, class: 'form-control', required: true%>
  </div>

  <div class="form-group">
    <%= p.label "CryptoCurrency" %>
    <div class="justify-left">
      <h3>Bitcoin</h3><%= p.radio_button :btc, true %>
      <h3>Ethereum</h3><%= p.radio_button :btc, false %>
    </div>
  </div>

  <%= p.submit 'Post', class: 'btn btn-primary' %>
<% end %>
