<h2> Cryptus Marketplace </h2>

<hr>

<p><%= link_to 'Create a Post', new_post_path, class: 'btn btn-primary btn-large' %></p>

<hr>

<% @posts.each do |post| %>
  <div class="well well-lg">
    <!-- <h2><%= link_to post.content, post_path(post) %></h2> -->
    <p>Title: <%= post.content%> </p>
    <% if post.btc == true %>
    	<p>Type: Bitcoin</p>
    <% else %>
    	<p>Type: Ethereum</p>
    	<% end %>
    <p>Quantity: <%= post.quantity %></p>
    <p>Price: <%= post.price %></p>

    <% if post.user_id == current_user.id %>
      <div class="btn-group">
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info' %>
        <%= link_to 'Delete', post_path(post), data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
<% end %>

<hr>

<p><%= link_to 'Create a Post', new_post_path, class: 'btn btn-primary btn-large' %></p>

<hr>
